/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* End Global Rules */
/* Start Components */
.special-heading {
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading + P {
    text-align: center;
    font-size: 20px;
    margin-top: -30px;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container img {
    width: 60px;
}
.links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.links:hover .icons span:nth-child(2) {
    width: 100%;
}
.links .icons span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.links .icons span:first-child {
    width: 100%;
}
.links .icons span:nth-child(2) {
    width: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.links .icons span:last-child {
    width: 100%;
}
.links {
    position: relative;
}
.links ul  {
    list-style: none;
    display: none;
    background-color: var(--section-background);
    position: absolute;
    padding: 0px;
    margin: 0;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;
}
.links:hover ul {
    display: block;
}
.links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.links ul  li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.links ul li:not(:last-child)  {
    border-bottom: 1px solid #333;
}
.links ul  li a:hover {
    margin-left: 15px;
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    text-align: center;
}
.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing-text h1 {
    color: var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}
.landing-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    grid-gap: 20px;
}
.features .container .features-content {
    padding: 20px;
    text-align: center;
}
.features .container h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .container i {
    color: var(--main-color);
}
.features .container p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container .services-content {
    gap: 30px;
    margin-top: 100px;
}
.services .container .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .container .services-content .col .srv {
        text-align: center;
        flex-direction: column;
    }
}
.services .container .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .container .services-content .col .srv .text {
    flex: 1;
}
.services .container .services-content .col .srv h3 {
    margin: 0 0 20px;
}
.services .container .services-content .col .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .container .services-content .col .img {
    text-align: center;
    position: relative;
}
.services .container .services-content .col .img img {
    width: 260px;
}
.services .container .services-content .col .img::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    z-index: -1;
}
@media (max-width: 1199px) {
    .img-column {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content { 
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .card-text {
    padding: 20px;
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .card .card-text {
        text-align: center;
    }
}
.portfolio .portfolio-content .card .card-text h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .card-text p {
    color: #777;
    margin-bottom: 0;
    line-height: 1.6;
}
.portfolio .portfolio-content .card img:hover {
    zoom: 0.5;
    max-width: 200%;
}
/* End Portfolio */
/* Start Birthday Page */
.About {
    background-color: var(--section-background);
}
.about .container .about-content .image {
    margin: auto;
}
.about .container .about-content .image img {
    width: 100%;
    height: 500px;
}
.about .container .about-content .text-area form {
    display: none;
}
/* End Birthday Page */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .container .contact-content {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container .contact-content .label {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.contact .container .contact-content .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    display: block;
    text-decoration: none;
}
.contact .container .contact-content .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .container .contact-content .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .container .contact-content .label,
    .contact .container .contact-content .link {
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    padding: 30px 10px;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content form .main-input,
.about .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"],
.about .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact .content .info address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}
/* Start Contact Sec */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .container .shuffle li {
    padding: 10px;
}
.portfolio .container .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
}
}
@media (min-width: 992px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}







.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}
.skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.skills .container .testimonials .box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.skills .container .testimonials .box img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .skills .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
    .skills .testimonials .box img {
        margin: 0 auto 20px;    
    }
}
.skills .container .testimonials .box .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.skills .container .testimonials .box .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.skills .container .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills .container .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.skills .container .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills .container .skills-sec .prog-holder {
    margin-bottom: 40px;
}
.skills .container .skills-sec .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.skills .container .skills-sec .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.skills .container .skills-sec .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills .skills-sec .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.skills .skills-sec .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}